@model WebApplicationReviews.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReviewTitle" class="control-label"></label>
                <input asp-for="ReviewTitle" class="form-control" />
                <span asp-validation-for="ReviewTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewContent" class="control-label"></label>
                <input asp-for="ReviewContent" class="form-control" />
                <span asp-validation-for="ReviewContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewLocation" class="control-label"></label>
                <input asp-for="ReviewLocation" class="form-control" />
                <span asp-validation-for="ReviewLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewRating" class="control-label"></label>
                <input asp-for="ReviewRating" class="form-control" />
                <span asp-validation-for="ReviewRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
